# Data profiling

**Data profiling** is the systematic process of examining, analyzing, and summarizing data to understand its structure, quality, and content. It helps uncover data issues, assess readiness for processing, and inform decisions in data integration, cleansing, or analytics projects.

In general, data profiling can help us to:
- **Assess Data Quality**: Detect nulls, duplicates, outliers, inconsistent formats, or unexpected patterns.
- **Understand Schema & Structure**: Analyze data types, column lengths, key constraints, and relationships.
- **Discover Relationships**: Identify foreign key candidates, overlaps, and referential integrity between datasets.
- **Generate Metadata**: Produce statistics (e.g. cardinality, min/max, frequency) to build a data dictionary.

## Types of Profiling
- **Column Profiling**: Statistics on individual columns (e.g., null %, distinct count)

- **Cross-Column Profiling**: Detecting dependencies or correlations between columns

- **Cross-Table Profiling**: Matching keys across tables to validate joins or relationships



## Key Metrics in Data Profiling
| Metric	                      | Description                                              |
|------------------------------|----------------------------------------------------------|
| Null count                   | 	Number of missing values                                |
| Unique values (cardinality)	 | How many distinct values exist                           |
| Value distribution	          | Frequency of each value (useful for categorical columns) |
| Pattern recognition          | 	Common formats, e.g. YYYY-MM-DD, email patterns         |
| Min/Max/Mean                 | 	For numerical columns                                   |
| Length analysis	             | Min/Max/Avg string lengths                               |
| Referential integrity	       | Whether values match across related tables               |

## 1. Example with ydata-profiling

In this section, we use a tool called ydata-profiling. You can visit their GitHub [page](https://github.com/ydataai/ydata-profiling) for more details.

The installation is quite simple

```shell
# via pip
pip install ydata-profiling

# via conda
conda install -c conda-forge ydata-profiling
```

In [2]:
from pyspark.sql import SparkSession
import pandas as pd
from ydata_profiling import ProfileReport

In [3]:
file_path = "../data/csv/us_census_1994.csv"

### 1.1 Use pandas

In [4]:
columns = ["age", "workclass", "fnlwgt", "education", "education-num", "marital-status", "occupation", "relationship",
           "race", "sex", "capital-gain", "capital-loss", "hours-per-week", "native-country", "income"]
df = pd.read_csv(file_path, names=columns, header=None)
df.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,income
0,age,workclass,fnlwgt,education,education-num,marial-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,income
1,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
2,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
3,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
4,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K

In [5]:
print(df.describe())

          age workclass  fnlwgt education education-num      marital-status  \
count   32562     32562   32562     32562         32562               32562
unique     74        10   21649        17            17                   8
top        36   Private  203488   HS-grad             9  Married-civ-spouse
freq      898     22696      13     10501         10501               14976

            occupation relationship   race    sex capital-gain capital-loss  \
count            32562        32562  32562  32562        32562        32562
unique              16            7      6      3          120           93
top     Prof-specialty      Husband  White   Male            0            0
freq              4140        13193  27816  21790        29849        31042

       hours-per-week native-country income
count           32562          32562  32562
unique             95             43      3
top                40  United-States  <=50K
freq            15217          29170  24720

In [6]:
profile = ProfileReport(df, title="Profiling Report")
profile.to_file("my_report.html")

Summarize dataset:   0%|          | 0/5 [00:00<?, ?it/s]

  0%|          | 0/15 [00:00<?, ?it/s]
100%|██████████| 15/15 [00:00<00:00, 46.97it/s][A

Generate report structure:   0%|          | 0/1 [00:00<?, ?it/s]

Render HTML:   0%|          | 0/1 [00:00<?, ?it/s]

Export report to file:   0%|          | 0/1 [00:00<?, ?it/s]

### 1.2 Use spark

In [7]:
spark = SparkSession.builder.master("local[4]") \
      .appName("spark data profiling") \
      .getOrCreate()

In [8]:
from pyspark.sql.types import StructType, IntegerType, StringType

schema = StructType() \
      .add("age",IntegerType(),True) \
      .add("workclass",StringType(),True) \
      .add("fnlwgt",IntegerType(),True) \
      .add("education",StringType(),True) \
      .add("education-num",IntegerType(),True) \
      .add("marital-status",StringType(),True) \
      .add("occupation",StringType(),True) \
      .add("relationship",StringType(),True) \
      .add("race",StringType(),True) \
      .add("sex",StringType(),True) \
      .add("capital-gain",IntegerType(),True) \
      .add("capital-loss",IntegerType(),True) \
      .add("hours-per-week",IntegerType(),True) \
      .add("native-country",StringType(),True) \
      .add("income",StringType(),True)

In [9]:
df = spark.read.csv(file_path, header=False, schema=schema)

df.printSchema()

root
 |-- age: integer (nullable = true)
 |-- workclass: string (nullable = true)
 |-- fnlwgt: integer (nullable = true)
 |-- education: string (nullable = true)
 |-- education-num: integer (nullable = true)
 |-- marital-status: string (nullable = true)
 |-- occupation: string (nullable = true)
 |-- relationship: string (nullable = true)
 |-- race: string (nullable = true)
 |-- sex: string (nullable = true)
 |-- capital-gain: integer (nullable = true)
 |-- capital-loss: integer (nullable = true)
 |-- hours-per-week: integer (nullable = true)
 |-- native-country: string (nullable = true)
 |-- income: string (nullable = true)

In [10]:
df.show(5)

+----+----------------+------+---------+-------------+------------------+-----------------+-------------+-----+----+------------+------------+--------------+--------------+------+
| age|       workclass|fnlwgt|education|education-num|    marital-status|       occupation| relationship| race| sex|capital-gain|capital-loss|hours-per-week|native-country|income|
+----+----------------+------+---------+-------------+------------------+-----------------+-------------+-----+----+------------+------------+--------------+--------------+------+
|NULL|       workclass|  NULL|education|         NULL|     marial-status|       occupation| relationship| race| sex|        NULL|        NULL|          NULL|native-country|income|
|  39|       State-gov| 77516|Bachelors|           13|     Never-married|     Adm-clerical|Not-in-family|White|Male|        2174|           0|            40| United-States| <=50K|
|  50|Self-emp-not-inc| 83311|Bachelors|           13|Married-civ-spouse|  Exec-managerial|      Husband|White|Male|           0|           0|            13| United-States| <=50K|
|  38|         Private|215646|  HS-grad|            9|          Divorced|Handlers-cleaners|Not-in-family|White|Male|           0|           0|            40| United-States| <=50K|
|  53|         Private|234721|     11th|            7|Married-civ-spouse|Handlers-cleaners|      Husband|Black|Male|           0|           0|            40| United-States| <=50K|
+----+----------------+------+---------+-------------+------------------+-----------------+-------------+-----+----+------------+------------+--------------+--------------+------+
only showing top 5 rows

In [ ]:
a = ProfileReport(df)
a.to_file("spark_profile.html")